*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
html{
    overflow-x: hidden;
}
header {

    /*Aplicar uma imagem de fundo com
    o comando background-image */
    background-image: url(../images/portrait-of-a-happy-woman-with-a-flower-in-her-hair-free-vector.jpg);
    /* Largura do header */
    width: 100%;
    /* Altura do header */
    height: 800px;
    /* não repetir a imagem de fundo */
    background-repeat: no-repeat;
    /*Alterar o tamanho da imagem de fundo */
    background-size: cover;
    /*Como alterar a posição do plano de fundo
        o primeiro elemento é a posição x e o segundo
        a posição y */
    background-position: 0 -70px;
    /*Vamos dispor (display) o conteúdo de forma flexível */
    display: flex;
    background-color: #112143;
}

header #direita {
    /*Comando para tamanho de fonte */
    font-size: 225pt;
    /* Alteração de fonte*/
    font-family: Helvetica;
    /* Para por negrito */
    font-weight: bold;
    /* Comando para alterar cor */
    color: white;
    /* Comando para mudar rotação */
    transform: rotate(-90deg);
    letter-spacing: -25px;
    flex: 1;
    height: 300px;
    margin-top: 260px;
    margin-left: -25px;
    background-color: #112143;
    padding: 0 0;
}
header #esquerda {
    flex: 5;
    padding-left: 800px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37pt;
    font-weight: bold;
    padding-top: 120px;
    text-shadow: 5px 5px 15px black;
    display: block;
}

header #esquerda span {
    font-size: 33pt;
    font-weight: lighter;
}

header img {
    width: 19px;
    height: 19px;

}

header #esquerda #fb, header #esquerda #ig {
    font-size: 17pt;
}

header #esquerda #endereco{
    font-weight: lighter;
    font-size: 10pt;
    line-height: 10pt;
    display: block;
}

header a {
    text-decoration: underline;
    color: white;
}

header #qr {
    width: 200px;
    height: 200px;
   

}

main #programacao {
    display: flex;
}

main #programacao div {
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 26px;
    padding: 15px;
}

main #programacao div h4 {
    color: orangered;
}

main #programacao div h3 {
    font-size: 20pt;
    color: darkblue;
}

main #programacao p {
    color: darkblue;
}

main #programacao span {
    color: orangered;
    margin: 0 7px;
}

main hr {
    display: block;
    border-color: orangered;
    width: 55%;
    margin: 1px 0;
    border-width: 1px;
}

main #cursos {
    display: flex;
    font-family: Verdana;
}

main div #beleza {
    color: orangered;
    padding-left: 20px;
}

footer #rodape {
    padding-top: 5px;
    padding-left: 40px;
    font-family: Verdana;
    display: flex;
}

footer #rodape h3 {
    color: darkblue;
}

footer hr {
    
    width: 85%;
    border-color: orangered;
    border-width: 1px;
    margin: 30px 0;
    margin-left: auto;   
}

footer #rodape div {
    flex: 1;
}

footer div h5 {
    padding-top: 20px;
    color: darkblue;
}

footer #rodape img{
    padding-top: 120px;
    padding-left: 620px;
}

